body{
    margin: 0;
    padding: 0;
}
nav {
    padding: 0;
    background-color: rgb(250, 251, 251);
    box-shadow: 5px 10px 15px #a7a5a5;
    display: flex;
    z-index: 10;
}

.logo{
    height: 85%;
    width: 20%;
}
.social-icon{
    display: flex;
    align-items: center;
    
}
.linkedin{
    padding: 0 25px 0 25px;
    color: rgb(112, 112, 241);
       
}

@media only screen and (max-width:665px) {
    .logo{
        height: 80%;
        width: 80%;
        padding-top: 8px;
    }
    nav{
        padding: 20px;
    }
    .linkedin{
        padding: 0 10px 0 10px;
        
    }
   
}
